flows.json
[
    {
        "id": "ee15443b.a74478",
        "type": "serial in",
        "z": "f61a537fec63078a",
        "name": "Serial Input",
        "serial": "COM3",
        "x": 410,
        "y": 440,
        "wires": [
            [
                "4d1a9a95.e4d13"
            ]
        ]
    },
    {
        "id": "4d1a9a95.e4d13",
        "type": "function",
        "z": "f61a537fec63078a",
        "name": "Process Data",
        "func": "var inputMsg = msg.payload;\nvar inputString = inputMsg.toString();\nvar serialData = inputString.substring(0, 6);\nvar outputMsg = { payload: serialData, timestamp: msg.timestamp };\nreturn outputMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 440,
        "wires": [
            [
                "e15e9c81.10b31",
                "e93d3657.256d08",
                "6521427f2a8467e2",
                "a45d5c345a13aed6"
            ]
        ]
    },
    {
        "id": "e15e9c81.10b31",
        "type": "debug",
        "z": "f61a537fec63078a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "e93d3657.256d08",
        "type": "mqtt out",
        "z": "f61a537fec63078a",
        "name": "MQTT Output",
        "topic": "your/mqtt/topic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 800,
        "y": 440,
        "wires": []
    },
    {
        "id": "6521427f2a8467e2",
        "type": "ui_gauge",
        "z": "f61a537fec63078a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "a45d5c345a13aed6",
        "type": "ui_chart",
        "z": "f61a537fec63078a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0f90b4637cdea77c",
        "type": "mqtt in",
        "z": "f61a537fec63078a",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 720,
        "wires": [
            [
                "84119a57c7e3f594",
                "194d422a6711c37a"
            ]
        ]
    },
    {
        "id": "84119a57c7e3f594",
        "type": "ui_chart",
        "z": "f61a537fec63078a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "194d422a6711c37a",
        "type": "ui_gauge",
        "z": "f61a537fec63078a",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 760,
        "wires": []
    }
]